body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

header h1 {
    font-size: 50px;
    padding: 10px 0;
}

.link {
    color: aquamarine;
    font-size: 16px;
}